.App {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: #666;
}

.title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 3em;
  line-height: 1em;
}



.hand-grid {
  height: 30px;
  width: 120px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid blue;
  background-color: #DDD;
}

.board {
  height: 450px;
  width: 450px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: #EEE;
}

.cell {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  margin: -2px -2px -2px -2px;
  float: left;
}

.hand-cell {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  margin: -2px -2px -2px -2px;
  float: left;
}

.hand-tile {
  font-size: .5em;
}

